@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Flight.Models.Class

<div class="container-fluid pt-4 px-4">
    <div class="row g-4 m-auto d-flex align-content-center justify-content-center">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Update Class</h6>
                <form asp-action="class_updatepro">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" asp-for="ClassId" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                        <input type="text" asp-for="ClassName" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" asp-for="Price" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">

                    </div>


                    <button type="submit" class="btn btn-primary m-auto">Submit</button>
                </form>
            </div>
