@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Flight.Models.User

<!-- Form Start -->
<div class="container-fluid pt-4 px-4 m-auto ml-5">
    <div class="row g-4 m-auto d-flex align-content-center justify-content-center">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Add Admin</h6>
                <form asp-action="insert_userspro">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" asp-for="UsersName" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" asp-for="UsersEmail" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Password</label>
                        <input type="text" asp-for="UsersPassword" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>


                    <button type="submit" class="btn btn-primary m-auto">Submit</button>
                </form>
            </div>







        </div>
    </div>
</div>
<!-- Form End -->
